.input-field {
  box-sizing: border-box;
  position: relative;
  height: 56px;
  padding-left: 12px;
  padding-right: 12px;
  min-width: 280px;
  border-bottom: 1px #fff solid;
  margin: 16px 8px;

  label {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-transform: uppercase;
    box-sizing: border-box;
    font-family: inherit;
    transition: top 0.2s ease, transform 0.2s ease;
  }
  &.focus {
    border-bottom-width: 2px;
  }
  &.active {
    label {
      top: 10%;
      transform: none;
      font-size: 14px;
      color: #a37c2775;
    }
  }
  input {
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 0 12px 10px;
    background-color: transparent;
    font-size: 16px;
    font-family: inherit;
    border: none;
  }
  input:focus {
    outline: none;
  }
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus,
  input:-internal-autofill-selected {
    -webkit-box-shadow: 0 0 0px 1000px #eeeeee inset;
    transition: background-color 5000s ease-in-out 0s;
  }
  .btn {
    display: none;
    transition: display ease-in 1s;
    &.active {
      display: block;
      position: absolute;
      bottom: 0;
      right: 0;
      background-color: transparent;
    }
  }
  &.input-field-stacked {
    label {
      top: 80%;
      transform: translateY(-80%);
      text-transform: capitalize;
      z-index: 100000
    }
    input {
      padding-left: 125px;
      padding-bottom: 8px;
    }
  }
}
